
body {
    overflow-x: hidden;
  background-image: url("../assets/earth-g92101b1f7_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}


h1{
  color: #afaaaa;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  cursor: pointer
}
h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px rgb(139, 135, 135),
               0 0 20px rgb(206, 203, 203), 
               0 0 40px rgb(230, 226, 226);
}


@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  background-image: url(../assets/earth-g92101b1f7_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

h1{
  color: #afaaaa;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  cursor: pointer
}
h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px rgb(139, 135, 135),
               0 0 20px rgb(206, 203, 203), 
               0 0 40px rgb(230, 226, 226);
}
  
}