body{
   background: linear-gradient(#141e30, #243b55);
}
.container {
  background: linear-gradient(#141e30, #243b55);
  margin: 0;
}

.heading {
  text-align: center;
  align-items: center;
  font-size: 50px;
  color: white;
  font-family: "Raleway", sans-serif;
}
.heading:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out 0.1s;
  color: #03e9f4;
}

.flex-main {
  display: flex;
}

.flex-left {
  color: white;
  width: 80vw;
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  word-spacing: 2px;
}

.flex-right {
  width: 20vw;
  margin-left: 30px;
  margin-top: 25px;
}

.speaker-name {
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
 
   color: #03e9f4;
}

.speaker-name:hover {
  color: white;
}

.speaker-image {
  width: 280px;
  height: 330px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .container {
  background-color: #eaf0f2;
  margin: 0;
  padding: 10px;
}
  .flex-main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .speaker-image {
    margin: auto;
    width: 180px;
    height: 180px;
    border-radius: 5px;
  }
  .flex-right {
  width: 50vw;
  margin-top: 25px;
}
.speaker-name {
  text-align: center;
}
.flex-left {
  width: 80vw;
  margin-left: 20px;
  font-size: medium;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  word-spacing: 2px;
}
.heading:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.1s;
  color: #03e9f4;
}
}
